@use '@/styles/media-query' as m;

.redCheckeredPatternContainer {
  margin-left: calc(((100vw - 100%) / 2) * -1);
  position: relative;
  
  .redCheckeredPattern {
    margin-right: auto;
    position: absolute;
    left: 0;
    top: -25px;
  
    @include m.mq(tab) {
      top: -50px;
    }
    @include m.mq(pc) {
      top: -150px;
    }
  }
}
