@use 'media-query' as m;

.wrapper {
  padding: 20% 4%;

  @include m.mq(sp) {
    padding: 20% 4%;
  }
  @include m.mq(tab) {
    padding: 10% 4%;
  }
  @include m.mq(pc) {
    padding: 7% 4%;
  }
}

.custom404Container {
  background-color: var(--background-color-white);
  max-width: 1766px;
  padding: 25% 4%;
  position: relative;
  text-align: center;
  .title {
    left: 0;
    position: absolute;
    top: -35px;
  }
  .text {
    margin-bottom: 5em;
    span {
      display: block;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }

  @include m.mq(tabAndPc) {
    .titleImage {
      width: 200px;
    }
    .text span {
      font-size: 2.5rem;
    }
  }
  @include m.mq(tab) {
    padding: 25% 4%;
    .title {
      top: -55px;
    }
  }
  @include m.mq(pc) {
    padding: 10% 4%;
    .title {
      top: -60px;
      left: 10px;
    }
  }
}

.buttonArrowRight {
  background-color: var(--background-color-red);
  color: var(--font-color-white);
  display: block;
  margin: 0 auto;
  max-width: 250px;
  padding: 1em 3em;
  position: relative;
  text-align: center;
  .icon {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
  }
}