@use 'media-query' as m;

:root {
  --max-width: 1470px;
  --border-radius: 12px;

  --font-color-black: #333;
  --font-color-white: #fff;

  --background-color-white: #fff;
  --background-color-red: #d9414e;
  --background-color-red-dark: #ba0c2f;

  --background-deg: 316deg;
}

body {
  background: linear-gradient(
    var(--background-deg), 
    var(--background-color-red) 0%, 
    var(--background-color-red-dark) 100%
    ) fixed;
  color: var(--font-color-black);
  min-height: 100vh;

  @include m.mq(sp) {
    font-size: 0.875rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}