@use 'media-query' as m;

.mainVisualContainer {
  background: url('../assets/home-mv-background.svg') center / cover no-repeat;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);

  @include m.mq(sp) {
    padding: 80px 0;
  }
  @include m.mq(tabAndPc) {
    padding: 100px 0;
  }

  .mainVisual {
    margin: 0 auto;

    @include m.mq(sp) {
      width: 90%;
    }
    @include m.mq(tab) {
      width: 70%;
    }
  }
}

.mainVisualIntroduction {
  background-color: var(--background-color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  max-width: 600px;
  padding: 2em 0;
  width: 90%;
  
  .text {
    display: flex;
    gap: 0.5em;
    justify-content: center;
  }
}

.whoRimaIsContainer {
  background-color: var(--background-color-white);
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  position: relative;
  padding: 76% 4% 20%;

  @include m.mq(tab) {
    padding: 350px 4% 100px;
  }
  @include m.mq(pc) {
    padding: 450px 4% 150px;
  }

  .title {
    position: absolute;
    top: -2%;
    left: 4%;

    @include m.mq(tabAndPc) {
      display: flex;
      align-items: flex-end;
      gap: 0.5em;
    }

    .titleWhoRimaImage {
      @include m.mq(tabAndPc) {
        width: 100%;
      }
      @include m.mq(tab) {
        width: 80%;
      }
      @include m.mq(pc) {
        width: 100%;
      }
    }

    .titleIsImage {
      margin-top: 5%;
      margin-left: 2%;

      @include m.mq(tabAndPc) {
        width: 25%;
      }
    }
  }

  .rimaInformation {
    background-color: var(--background-color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 800px;
    padding: 2em;
    width: 100%;

    p + p {
      margin-top: 1em;
    }
  }
  
  .rimaProfile {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
    .profileItem {
      align-items: center;
      display: flex;
      gap: 1em;
    }

    .profileBadge {
      background-color: #c2283c;
      color: #fff;
      display: block;
      font-weight: bold;
      padding: 0.25em 1em;
      max-width: 100px;
      width: 100%;
      text-align: center;

      @include m.mq(sp) {
        border-radius: 15px;
        font-size: 0.75rem;
      }
      @include m.mq(tabAndPc) {
        border-radius: 14px;
        font-size: 0.875rem;
      }
    }

    .profileDetail span {
      font-size: 0.5rem;
      margin-left: 1em;
    }
  }
}

.rimaIsLovelyContainer {
  margin-top: 20%;

  @include m.mq(tabAndPc) {
    margin-top: 10%;
  }
}

.rimaniaContainer {
  background: url('../assets/home-rimania-background-01.svg') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20% calc(((100vw - 100%) / 2) * -1) 0;
  min-height: 100vh;
  position: relative;
  row-gap: 3em;
  z-index: 0;

  @include m.mq(tabAndPc) {
    margin-top: 10%;
    min-height: 150vh;
  }

  &::before {
    background: url('../assets/home-rimania-background-02.svg') center center / cover no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: -45px;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
  }

  .title {
    @include m.mq(sp) {
      padding: 0 4%;
    }
    @include m.mq(pc) {
      margin-top: 5%;
    }

    .titleImage {
      @include m.mq(tabAndPc) {
        margin: 0 auto;
      }
    }
  }

  .rimaniaMainContent {
    background-color: var(--background-color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    max-width: 800px;
    padding: 7em 0;
    text-align: center;
    width: 92%;

    @include m.mq(tabAndPc) {
      padding: 10em 0;
    }
  }
}

.redCheckeredPatternContainer {
  margin: 15% calc(((100vw - 100%) / 2) * -1) 0 0;
  
  @include m.mq(tab) {
    margin: 12% calc(((100vw - 100%) / 2) * -1) 0 0;
  }
  @include m.mq(pc) {
    margin: 0 calc(((100vw - 100%) / 2) * -1) 0 0;
    position: relative;
  }
  
  .redCheckeredPattern.isFlip {
    margin-left: auto;
    transform: scale(-1,1);

    @include m.mq(pc) {
      position: absolute;
      right: 0;
      top: 145px;
    }
  }

}

.learnHerMoreContainer {
  padding: 20% 0;

  @include m.mq(tab) {
    padding: 15% 0;
  }
  @include m.mq(pc) {
    padding: 10% 0;
  }

  .titleImage {
    @include m.mq(tab) {
      margin: 0 auto;
    }
    @include m.mq(pc) {
      width: 50%;
    }
  }
}

.youtubeList {
  display: grid;
  grid-gap: 10px;
  margin-top: 4%;
  
  @include m.mq(tabAndPc) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
  }
  @include m.mq(pc) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .item {
    box-shadow: var(--box-shadow);
    position: relative;

    .itemBadge {
      background-color: #c2283c;
      color: #fff;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 1em;
      position: absolute;
      right: 2%;
      top: 3%;
      
      @include m.mq(sp) {
        border-radius: 13px;
        font-size: 0.75rem;
      }
      @include m.mq(tabAndPc) {
        border-radius: 14px;
        font-size: 0.875rem;
      }
    }
  }
}

.officialContainer {
  height: 1150px;
  margin: 60px calc(((100vw - 100%) / 2) * -1);
  position: relative;
  
  @include m.mq(tab) {
    height: 1200px;
    margin: 15% 0 10%;
    padding: 140px 0;
  }
  @include m.mq(pc) {
    margin-top: 10%;
    padding: 1% 0;
  }

  &::before {
    background-color: #fff;
    content: '';
    display: block;
    height: 820px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 820px;
    z-index: -1;

    @include m.mq(tabAndPc) {
      height: 900px;
      width: 900px;
    }
  }

  .title {
    @include m.mq(sp) {
      padding: 15% 4% 0;
    }
    @include m.mq(pc) {
      margin-top: 5%;
    }

    .titleImage {
      @include m.mq(tabAndPc) {
        margin: 0 auto;
      }
    }
  }

  .officialListContainer {
    margin: 10% 0 0;
  
    @include m.mq(tab) {
      margin: 10% 0 15%;
    }
    @include m.mq(pc) {
      margin: 5% 0 10%;
    }
  }
  
  .officialSiteList {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    @include m.mq(tabAndPc) {
      flex-direction: row;
      justify-content: center;
    }
    @include m.mq(pc) {
      gap: 55px;
    }
  
    .listItem {
      background-color: var(--background-color-white);
      border-radius: var(--border-radius);
      box-shadow: 0 5px 30px rgba(99,99,99,0.08), 0 12px 36px rgba(99,99,99,0.05);
      max-width: 350px;
      width: 80%;
      transition: box-shadow 0.3s ease-in-out;

      @include m.mq(tabAndPc) {
        min-height: 400px;
      }
      
      &:first-of-type {
        padding: 15%;
        
        @include m.mq(tabAndPc) {
          padding: 6% 4%;
          padding: 100px 67px;
        }
      }
      
      &:last-of-type {
        padding: 11% 10%;
        
        @include m.mq(tabAndPc) {
          padding: 4% 2%;
          padding: 67px 33.5px;
        }
      }

      &:hover {
        box-shadow: 0 8px 30px rgba(0,16,14,0.17), 0 4px 4px rgba(0,0,0,0.01), 0 12px 36px rgba(0,0,0,0.04);
      }
    }
  }

  .officialSNSList {
    column-gap: 15px;
    display: flex;
    justify-content: center;
    margin-top: 10%;

    @include m.mq(tabAndPc) {
      column-gap: 45px;
    }
    @include m.mq(tab) {
      margin-top: 10%;
    }
    @include m.mq(pc) {
      margin-top: 6%;
    }

    .snsImage {
      width: 50px;
    }
  }
}