@use 'media-query' as m;

.mainVisualContainer {
  background: url('../assets/home-mv-background.svg') center / cover no-repeat;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);

  @include m.mq(sp) {
    padding: 80px 0;
  }
  @include m.mq(tabAndPc) {
    padding: 100px 0;
  }

  .mainVisual {
    margin: 0 auto;

    @include m.mq(sp) {
      width: 90%;
    }
    @include m.mq(tab) {
      width: 70%;
    }
  }
}

.mainVisualIntroduction {
  background-color: var(--background-color-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 7px rgb(99, 99, 99, 0.6);
  margin: 0 auto;
  max-width: 600px;
  padding: 2em 0;
  width: 90%;
  
  .text {
    display: flex;
    gap: 0.5em;
    justify-content: center;
  }
}

.learnHerMoreContainer {
  padding: 20% 0;

  @include m.mq(pc) {
    padding: 10% 0;
  }

  .titleImage {
    @include m.mq(tab) {
      margin: 0 auto;
    }
    @include m.mq(pc) {
      width: 50%;
    }
  }
}

.youtubeList {
  display: grid;
  grid-gap: 10px;
  margin-top: 4%;
  
  @include m.mq(tabAndPc) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
  }
  @include m.mq(pc) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .item {
    box-shadow: 0px 0px 7px rgb(99, 99, 99, 0.6);
    position: relative;

    .itemBadge {
      background-color: #c2283c;
      color: #fff;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 1em;
      position: absolute;
      right: 2%;
      top: 3%;
      
      @include m.mq(sp) {
        border-radius: 12px;
        font-size: 0.75rem;
      }
      @include m.mq(tabAndPc) {
        border-radius: 14px;
        font-size: 0.875rem;
      }
    }
  }
}

.officialContainer {
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  overflow: hidden;
  padding: 40% 0;
  position: relative;
  
  @include m.mq(pc) {
    padding: 0;
  }

  &::before {
    background-color: #fff;
    content: '';
    display: block;
    height: 800px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 800px;
    z-index: -1;

    @include m.mq(sp) {
    
    }
    @include m.mq(tabAndPc) {
      height: 900px;
      width: 900px;
    }
    @include m.mq(tab) {
      
    }
    @include m.mq(pc) {
      
    }
  }

  .titleImage {
    @include m.mq(tabAndPc) {
      margin: 0 auto;
    }
  }

  .officialListContainer {
    margin: 10% 0 30%;

    @include m.mq(tab) {
      margin: 10% 0 15%;
    }
    @include m.mq(pc) {
      
    }
  }

  .officialSiteList {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include m.mq(sp) {
    
    }
    @include m.mq(tabAndPc) {
      flex-direction: row;
      justify-content: center;
    }
    @include m.mq(tab) {
      
    }
    @include m.mq(pc) {
      
    }

    .listItem {
      background-color: var(--background-color-white);
      border-radius: var(--border-radius);
      box-shadow: 0px 0px 7px rgb(99, 99, 99, 0.6);
      width: 80%;

      &:first-of-type {
        padding: 15% ;
      }
      &:last-of-type {
        padding: 11% 10%;
      }
      
      @include m.mq(sp) {
        
      }
      @include m.mq(tabAndPc) {
        max-width: 350px;

        &:first-of-type {
          padding: 100px 60px;
        }
        &:last-of-type {
          padding: 75px 30px;
        }
      }
      @include m.mq(tab) {
        
      }
      @include m.mq(pc) {
        
      }
    }
  }

  .officialSNSList {
    column-gap: 15px;
    display: flex;
    justify-content: center;
    margin-top: 15%;

    @include m.mq(tabAndPc) {
      column-gap: 45px;
    }
    @include m.mq(tab) {
      margin-top: 10%;
    }
    @include m.mq(pc) {
      
    }

    .snsImage {
      width: 50px;
    }
  }
}