.maintenanceContainer {
  color: var(--font-color-white);
  inset: 0;
  padding-top: 15vh;
  position: fixed;
  text-align: center;
  .text {
    display: flex;
    gap: 0.5em;
    justify-content: center;
  }
}