@use '@/styles/media-query' as m;

.youtubeList {
  display: grid;
  grid-gap: 20px;
  margin-top: 4%;
  
  @include m.mq(tabAndPc) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, auto);
  }
  @include m.mq(pc) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .item {
    box-shadow: var(--box-shadow);
    position: relative;

    .itemBadge {
      background-color: #c2283c;
      color: #fff;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 1em;
      position: absolute;
      right: 2%;
      top: 3%;
      
      @include m.mq(sp) {
        border-radius: 13px;
        font-size: 0.75rem;
      }
      @include m.mq(tabAndPc) {
        border-radius: 14px;
        font-size: 0.875rem;
      }
    }
  }
}

.youtubeModalWindowContainer {
  background-color: rgba(0,0,0,0.8);
  inset: 0;
  padding-top: 10%;
  position: fixed;
  z-index: 99;

  @include m.mq(pc) {
    padding-top: 0;
  }

  .youtubeModalWindowClose {
    color: var(--font-color-white);
    font-size: 2rem;
    margin: 0 5% 5% auto;

    @include m.mq(tab) {
      margin: 2% 10% 4% auto;
    }
    @include m.mq(pc) {
      margin: 2% 10% 2% auto;
      padding-top: 0;
    }
  }

  .youtubeModalWindow {
    height: 0;
    padding-top: 56.25%;
    position: relative;

    .youtubeContent {
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100%;

      @include m.mq(tabAndPc) {
        height: 80%;
        width: 80%;
      }
    }
  }
}