.loaderContainer {
  background-image: linear-gradient(316deg, #D9414E 0%, #BA0C2F 100%);
  inset: 0;
  position: fixed;
  text-align: center;
  z-index: 99;
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .image {
      animation: rotate-10 1s linear infinite;
    }
    .text {
      margin-top: 1em;
    }
  }
}

@keyframes rotate-10 {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
