.loaderContainer {
  background: linear-gradient(
    var(--background-deg), 
    var(--background-color-red) 0%, 
    var(--background-color-red-dark) 100%
    ) fixed;
  color: var(--font-color-white);
  inset: 0;
  position: fixed;
  text-align: center;
  z-index: 99;
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .image {
      animation: rotate-10 1s linear infinite;
    }
    .text {
      margin-top: 1em;
    }
  }
}

@keyframes rotate-10 {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
