/* ================ common ================ */
.footerContainer {
  color: var(--font-color-white);
  padding: 8% 4% 1%;
  text-align: center;
  .footerLinkList {
    column-gap: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }
  .copyRightText {
    font-size: 0.5rem;
  }
}

/* ============ PC layout only ============ */
@media (min-width: 1181px) {
  .footerContainer {
    .footerLinkList {
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }
}