@use '@/styles/media-query' as m;

.footerContainer {
  color: var(--font-color-white);
  padding: 8% 4% 1%;
  text-align: center;

  .footerLinkList {
    align-items: center;
    column-gap: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }

  .copyRightText {
    font-size: 0.75rem;
  }
}