@use '@/styles/media-query' as m;

.headerContainer {
  background-color: rgba(186, 12, 47, 0.8);
  color: var(--font-color-white);
  left: 0;
  padding: 1% 2%;
  position: absolute;
  top: 0;
  width: 100%;
}

.scrollToTop {
  position: fixed;
  bottom: 1%;
  right: 1.5%;
  z-index: 99;
  // pointer-events: none;
  user-select: none;
  
  .icon {
    color: rgba(0, 0, 0, 0.8);
    font-size: 3rem;

    @include m.mq(pc) {
      font-size: 4rem;
    }
  }
}
