.headerContainer {
  background-color: rgba(186, 12, 47, 0.8);
  color: var(--font-color-white);
  left: 0;
  padding: 1% 2%;
  position: absolute;
  top: 0;
  width: 100%;
}

.scrollToTop {
  position: fixed;
  bottom: 1%;
  right: 1.5%;
  z-index: 999;

  .icon {
    background-color: rgba(186, 12, 47, 0.8);
    font-size: 4rem;
  }
}
